    <h1>Book List</h1>
    <table>
        <tr>
            <th>Store</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Count</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.store }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.count }}</td>
        </tr>
        {% endfor %}
    </table>